*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --white:hsl(0, 0%, 100%);
    --violet:hsl(257, 40%, 49%);
    --softMangenta:hsl(300, 69%, 71%);
}

body{
    background-color:var(--violet);
    background-image:url(/images/bg-desktop.svg);
    background-size: 90% 100%;
}
    
    
    

.bar{
    padding: 40px 0 40px 35px;
}

.hurdle{
    display: flex;
    padding: 0 0px 40px 35px;
}

.product{
    color: var(--white);
    padding: 60px 45px 40px 30px;
}

h1{
    padding: 0 145px 20px 0;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

p{
    padding: 0 10px 40px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.reg a{
    background-color: var(--white);
    border-radius: 20px;
    color: var(--violet);
    border: none;
    box-shadow: 4px 4px 2px 1px var(--violet);
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    font-family:'Poppins', sans-serif;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    
}

.reg a:hover{
    color: var(--white);
    background-color: var(--softMangenta);
}

.font{
  padding: 0 0 30px 82%;  
}

.fa-brands{
    display: inline;
    border: 1px solid var(--white);
    border-radius: 15px;
    padding: 6px 8px;
    margin:3px;
    cursor: pointer;
}
.fa-brands img{
    width: 14px;
    height: 14px;
    color: var(--white);
}

.fa-brands:hover{
    background-color: var(--softMangenta);
    border: 1px solid var(--softMangenta);
    opacity: 1;
}

.fa-brands img:hover{
    color: var(--softMangenta);
}

/* media queries start */

@media(max-width:600px){
    body{
        background-color:var(--violet);
        background-image: url("/images/bg-mobile.svg");
        background-size: 104% 52%;
        background-repeat: no-repeat;
    }

    .bar{
        padding:20px 80px 45px 35px;
        font-size: 20px;

    }

    .bar img{
        width: 150px;
    }

    .product{
      margin-right: 20px;
    }

    .hurdle{
        flex-direction: column;
    }

    .image img{
        width: 100%;
        height: 320px;
        padding: 2px 30px 0px 0 ;
    }

    h1{
        font-weight:400;
        padding: 0px 10px 20px 0px;
        line-height: 1.3;
        font-size: 25px;
        text-align: center;
    }

    p{
        text-align: center;
        margin: 0px 10px 0px 0px;
        padding: 0 0px 30px 10px;
        font-size: 12px;
        line-height: 1.5;
    }

    .reg a{
        padding: 10px 60px;
        margin-left: 40px;
        font-size: 12px;
    }

    .font{
        padding: 0 0 30px 35%;  
      }
}

/* media queries end */




